<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs', {hasProductCss: false, hasFormsCss: false}) %>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (products.length > 0) { %>
    <ul class="cart__item-list">
      <% products.forEach((item) => { %>
      <li class="cart__item">
        <h1><%= item.product.title %></h1>
        <h2>Quantity: <%= item.quantity %></h2>
        <form action="/cart-delete-item" method="POST">
          <input type="hidden" value="<%= item.product._id %>" name="productId">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="btn danger" type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <hr>
    <div class="centered">
      <a href="/checkout" class="btn">Order Now!</a>
    </div>
    <% } else { %>
    <h1>No Products in Cart!</h1>
    <% } %>
  </main>
</body>

</html>